img {
  position: absolute;
  top: 70px;
  left: 15px;
  width: 100%;
  z-index: -1;
}
body{
  background-color: #f2fff6;
  text-align: center;
  font-size: 40px;
}
p {
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  border: 1px solid #004d2d;
  background-color: #80ffcc;
}

.links a:hover {
    background-color: : #00ff99;
  }

.heading {
    background-color: #f2fff6;
    text-decoration: none;
    border: none;
}

.link1 {
  background-color: #f2fff6;
  border: none;
}

/*--.link1 a:hover {
  background-color: #33ffad;
}*/

.myI {
  position: absolute;
  top: 0px;
  left: 190px;
}
